.jumbotron {
    margin-bottom: 0px;
    background-image: url(http://i.imgur.com/Q6twHMl.jpg);
    background-position: 45% 45%;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
}

html, body {
	margin: 0px;
	padding: 0px;	
}

#header {
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #1A242F;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;

}

.footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #1A242F;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
   
}

#page2{
    display:none;
}