.jumbotron {
    margin-bottom: 0px;
    background-image: url(http://i.imgur.com/Q6twHMl.jpg);
    background-position: 45% 45%;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
}

html, body {
	margin: 0px;
	padding: 0px;	
}

@import url(https://fonts.googleapis.com/css?family=Advent+Pro:100);
body { 
  background:  url(http://upload.wikimedia.org/wikipedia/commons/d/dd/Muybridge_race_horse_animated.gif) no-repeat center center fixed; 
  background-size: cover;
}
h1{
  font-family: 'Advent Pro', sans-serif;
  font-size: 3em;
  margin: .2em .5em;
  color: rgba(0,0,0, 0.3);
}
body {
    height: 100%;
}



#header {
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #1A242F;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;

}

.footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #1A242F;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
   
}


#page2{
    display:none;
}

button{
    margin:10px;
    text-align:center;
}



.data th,
.data td
    {
    margin: 2px;
    padding: 5px;
}

div .thumbnail{
   text-align: center;
}

div img{
    margin:0 auto;
}